@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui/theme" {
  name: night;
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: #CCCCCC;
  --color-base-200: #bababa;
  --color-base-300: #a8a8a8;
  --color-base-content: #213547;
  --color-primary: #F44336;
  --color-primary-content: #ffffff;
  --color-secondary: #EF3F3F;
  --color-secondary-content: #ffffff;
  --color-accent: #c93232;
  --color-accent-content: #ffffff;
  --color-neutral: #e5e5e5;
  --color-neutral-content: #213547;
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: #ffffff;
  --color-success: oklch(78.452% 0.132 181.911);
  --color-success-content: #213547;
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: #213547;
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: #ffffff;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #747bff;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
